.home-container {
    padding-top: 115px;
    padding-left: 120px;    
}

.home-title {
    width: 580px;
    height: 128px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em; 
    margin-bottom: 25px;   
}

.home-description {
    width: 612px;
    height: 216px; 
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 50px;
}


.btn-search {
    width: 100px;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    color: #FFF;
    border: none;
}